
body {
  margin: 0;
  padding: 0;
  color: #333333;
}

#container, #disqus_thread {
  width: 40em;
  text-align: justify;
  margin: 2em auto;
  font-family: Helvetica, "DejaVu Sans", Arial, sans-serif; 
}

h1, h2, h3 {
  font-family: Garamond, "DejaVu Serif", Georgia, serif;
  color: #004400;
}

h1 a, h1 a:visited, h1 a:active,
h2 a, h2 a:visited, h2 a:active,
h3 a, h3 a:visited, h3 a:active {
  color: #004400;
}

