<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/style.css" type="text/css" />
  </head>

  <body>

<a href="http://github.com/haklabbeograd"><img style="position: absolute; top: 0; left: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_left_orange_ff7600.png" alt="Fork me on GitHub" /></a>

	<div id="header">
		Grupe: <a href="/elektronika">elektronika</a> <a href="/gadgets">gadgets</a> <a href="/lang_gang">lang_gang</a> <a href="/mods">mods</a> <a href="/ostalo">ostalo</a>

	</div>
    <div id="container">
    <h1>{{ page.title }}</h1>

    {{ content }}
    </div>
  </body>
</html>
